body {
    margin: 0;
    background-color: #333;
}
html {
    margin: 1.5vh 1vw 1.5vh 1vw;
}

/*  ---------  */
/* | CONTENT | */
/*  ---------  */
#content {
    font-family: OpenSans;
    background-color: #FFF;
    margin: auto;
    width: 100%;
}

/*  ---------  */
/* | CLASSES | */
/*  ---------  */
#classes {
    width: 18.5vw;
    max-width: 19%;
    padding: 1vh 1vh 1vh 1vh;
    height: 94vh;
    max-height: 96%;
    float: left;
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    box-shadow: 0px 1vh 1vw 0px rgba(0,0,0,0.75);
    background-color: inherit;
    overflow: scroll;
}
#classes-title {
    font-size: 3vh;
    margin: 0;
    padding: 0;
}
#classes hr {
    margin: 0;
}
#classes-options {
    width: 100%;
    text-align: right;
}
.class {
    width: 90%;
    margin: 3% auto;
    padding: 1% 2%;
    background-color: #E0e0e0;
}
.class .name {
    font-size: 2.4vh;
    display: inline;
}
.class .option {
    margin-left: 5%;
}
.class .days, .time {
    font-size: 2vh;
    display: inline;
}
.class .days {
    margin-right: 5%;
}
.class .edit {
    float: right;
}
.class .crn-label {
    font-size: 1.8vh;
    display: inline-block;
}

/*  ----------  */
/* | CALENDAR | */
/*  ----------  */
#calendar {
    width: 76vw;
    max-width: 78%;
    padding: 1vh 1vh 1vh 1vh;
    height: 94vh;
    max-height: 96%;
    float: right;
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
    box-shadow: 0px 1vh 1vw 0px rgba(0,0,0,0.75);
    background-color: inherit;
}
#calendar hr {
    margin-top: 0;
    margin-bottom: 1vh;
}
#calendar-title {
    font-size: 3vh;
}
#calendar-content {
    font-size: 0;
    margin: auto;
    overflow: auto;
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
}
#calendar-content hr {
    margin: 0;
    color: #888;
    background-color: #888;
}
#calendar-content .hour-marks {
    float: left;
    font-size: 2.2vh;
    margin: 0;
    width: 4%;
    height: 88vh;
    max-height: 96%;
    border-right: 1px solid #888;
    overflow: hidden;
    text-align: right;
}
#calendar-content .day {
    float: left;
    text-align: center;
    font-size: 2.4vh;
    margin: 0;
    width: 13.57%;
    border-right: 1px solid #888;
    height: 88vh;
    max-height: 96%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#add-class-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 2.4vh;
}
#add-class-content hr {
    margin-top: 0;
}

/* The Close Button */
#close-menu {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #fefefe;
    border: 0px;
}
#close-menu:hover,
#close-menu:focus {
    color: #b40000;
    text-decoration: none;
    cursor: pointer;
}

#add-class-content .title {
    font-size: 3vh;
}
#add-class-form #add-option {

}
#days-of-week .title {
    font-size: 2.4vh;
    display: inline-block;
}
#add-class-content .add-class-option {
    border: 1px solid #888;
    width: 90%;
    margin: 1% auto;
}
.weekDays-selector {
    display: inline-block;
}
.weekDays-selector input {
    display: none!important;
}
.weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    font-size: 2.2vh;
    border-radius: 6px;
    background: #dddddd;
    height: 3.5vh;
    width: 3.5vh;
    line-height: 3.7vh;
    text-align: center;
    cursor: pointer;
}
.weekDays-selector input[type=checkbox]:checked + label {
    background: #2AD705;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    color: #000;
    background-color: #000;
}