body {
    margin: 0;
    padding: 0;
    background-color: var(--mono5);
}
html {
    margin: 0;
    padding: 0;
    font-family: OpenSans;
}

#content {
    padding: 1.5% 1% 1.5% 1%;
    width: 98%;
    height: 93%;
    font-family: OpenSans;
    margin: auto;
}

/*  ---------  */
/* | CLASSES | */
/*  ---------  */
#classes {
    background-color: var(--mono1);
    width: 96%;
    padding: 1% 1% 1% 1%;
    margin-bottom: 20;
    box-shadow: 0.6vmax 0.6vmax 0 0px var(--mono9);
}
#classes-title {
    font-size: 1.75em;
    margin: 0;
    padding: 0;
}
#classes hr {
    margin: 0;
}
#classes-options {
    width: 100%;
    text-align: right;
}
.class {
    width: 90%;
    margin: 3% auto;
    padding: 1% 2%;
    background-color: var(--mono3);
}
.class .name {
    font-size: 1em;
    display: inline;
}
.class .option {
    margin-left: 5%;
}
.class .days, .time {
    font-size: 0.875em;
    display: inline;
}
.class .days {
    margin-right: 5%;
}
.class .edit, .removeclass {
    float: right;
    margin: auto 3;
}
.class .crn-label {
    font-size: 0.6875em;
    display: inline-block;
}


/*  ----------  */
/* | CALENDAR | */
/*  ----------  */
#calendar {
    background-color: var(--mono1);
    width: 96%;
    height: 70%;
    padding: 1% 1% 1% 1%;
    box-shadow: 0.6vmax 0.6vmax 0 0px var(--mono9);
}
#calendar hr {
    margin-top: 0;
    margin-bottom: 1%;
}
#calendar-title {
    font-size: 1.75em;
}
#calendar-content {
    margin: auto;
}
#calendar-content .title {
    font-size: 0.9em;
}
#calendar-content hr {
    margin: 0;
    color: var(--mono7);
    background-color: var(--mono7);
}
#calendar-content #hms {
    display: inline-block;
    float: left;
    text-align: right;
    width: 3%;
    height: 85%;
    font-size: 0.625em;
    color: var(--mono10);
    border: 1px solid #888;
}
#calendar-content #dh {
    font-size: 0.8em;
    display: inline-block;
    float: left;
    width: 94%;
    height: 85%;
    border: 1px solid #888;
    border-right: 0px;
}
#calendar-content .day {
    float: left;
    text-align: center;
    font-size: 1em;
    margin: 0;
    width: 13.9%;
    border-right: 1px solid #888;
    height: 100%;
}


/* ADD CLASS DIALOGUE */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--mono10); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#add-class-content {
    background-color: var(--mono1);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 1em;
}
#add-class-content hr {
    margin-top: 0;
}
#close-menu {
    color: var(--mono8);
    float: right;
    font-size: 1.75em;
    font-weight: bold;
    background-color: var(--mono1);
    border: 0px;
}
#close-menu:hover,
#close-menu:focus {
    color: var(--med-important-color);
    text-decoration: none;
    cursor: pointer;
}

#add-class-content .title {
    font-size: 1.25em;
}
#days-of-week .title {
    font-size: 1em;
    display: inline-block;
}
#add-class-content .add-class-option {
    border: 1px solid #888;
    width: 90%;
    margin: 1% auto;
}
#add-class-content input[type=text] {
    font-family: OpenSans, sans-serif;
    font-size: 0.875em;
}
.weekDays-selector {
    display: inline-block;
}
.weekDays-selector input {
    display: none!important;
}
.weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    font-size: 0.875em;
    border-radius: 6px;
    background: #dddddd;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.625em;
    text-align: center;
    cursor: pointer;
}
.weekDays-selector input[type=checkbox]:checked + label {
    background: var(--med-important-color);
    color: var(--mono10);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: var(--mono1);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--mono4);
}


@media (orientation: landscape) and (min-width: 900px){
    html {
        font-size: 1em;
    }
    /*  ---------  */
    /* | CONTENT | */
    /*  ---------  */
    #content {
        background-color: var(--mono3);
    }

    /*  ---------  */
    /* | CLASSES | */
    /*  ---------  */
    #classes {
        width: 19%;
        height: 96%;
        float: left;
        overflow: scroll;
    }

    /*  ----------  */
    /* | CALENDAR | */
    /*  ----------  */
    #calendar {
        width: 76%;
        height: 96%;
        float: right;
    }
    #calendar-content #hms {
        font-size: 0.875em;
    }
    #calendar-content .day {
        font-size: 1.25em;
    }
    #calendar-content #hms {
        width: 2%;
        height: 91%;
    }
    #calendar-content #dh {
        width: 95%;
        height: 91%;
    }
    #calendar-content .day {
        width: 14.1%;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: var(--mono4);
    }
}