body {
    margin: 0;
    background-color: #333;
}
html {
    margin: 0;
    margin: 0;
    font-family: OpenSans;
}

#content {
    padding: 1.5vh 1vw 1.5vh 1vw;
    width: 98%;
    height: 97%;
    font-family: OpenSans;
    margin: auto;
}

/*  ---------  */
/* | CLASSES | */
/*  ---------  */
#classes {
    background-color: #FFF;
    width: 94vw;
    padding: 1vh 1vh 1vh 1vh;
    border-radius: 1vw;
    margin-bottom: 20;
    box-shadow: 0px 1vh 1vw 0px rgba(0,0,0,0.75);
}
#classes-title {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
#classes hr {
    margin: 0;
}
#classes-options {
    width: 100%;
    text-align: right;
}
.class {
    width: 90%;
    margin: 3% auto;
    padding: 1% 2%;
    background-color: #E0e0e0;
}
.class .name {
    font-size: 1em;
    display: inline;
}
.class .option {
    margin-left: 5%;
}
.class .days, .time {
    font-size: 0.875em;
    display: inline;
}
.class .days {
    margin-right: 5%;
}
.class .edit, .remove_class {
    float: right;
    margin: auto 3;
}
.class .crn-label {
    font-size: 0.6875em;
    display: inline-block;
}


/*  ----------  */
/* | CALENDAR | */
/*  ----------  */
#calendar {
    background-color: #FFF;
    width: 96%;
    padding: 1% 1% 1% 1%;
    height: 65vw;
    border-radius: 1%;
    box-shadow: 0px 1vh 1vw 0px rgba(0,0,0,0.75);
}
#calendar hr {
    margin-top: 0;
    margin-bottom: 1%;
}
#calendar-title {
    font-size: 1.8em;
}
#calendar-content {
    font-size: 0;
    margin: auto;
    overflow: auto;
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
}
#calendar-content .title {
    font-size: 14;
}
#calendar-content hr {
    margin: 0;
    color: #888;
    background-color: #888;
}
#calendar-content .hour-marks {
    float: left;
    font-size: 0.625em;
    margin: 0;
    width: 4%;
    height: 85%;
    border-right: 1px solid #888;
    overflow: hidden;
    text-align: right;
}
#calendar-content .day {
    float: left;
    text-align: center;
    font-size: 1em;
    margin: 0;
    width: 13.5%;
    border-right: 1px solid #888;
    height: 85%;
}


/* ADD CLASS DIALOGUE */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#add-class-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 1em;
}
#add-class-content hr {
    margin-top: 0;
}
#close-menu {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #fefefe;
    border: 0px;
}
#close-menu:hover,
#close-menu:focus {
    color: #b40000;
    text-decoration: none;
    cursor: pointer;
}

#add-class-content .title {
    font-size: 1.25em;
}
#days-of-week .title {
    font-size: 1em;
    display: inline-block;
}
#add-class-content .add-class-option {
    border: 1px solid #888;
    width: 90%;
    margin: 1% auto;
}
#add-class-content input[type=text] {
    font-family: OpenSans, sans-serif;
    font-size: 0.875em;
}
.weekDays-selector {
    display: inline-block;
}
.weekDays-selector input {
    display: none!important;
}
.weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    font-size: 0.875em;
    border-radius: 6px;
    background: #dddddd;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.625em;
    text-align: center;
    cursor: pointer;
}
.weekDays-selector input[type=checkbox]:checked + label {
    background: #2AD705;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #111;
}


@media (orientation: landscape) and (min-width: 900px){
    /*  ---------  */
    /* | CONTENT | */
    /*  ---------  */
    #content {
        background-color: #333;
    }

    /*  ---------  */
    /* | CLASSES | */
    /*  ---------  */
    #classes {
        width: 19%;
        height: 96%;
        float: left;
        border-radius: 0;
        border-bottom-left-radius: 1vw;
        border-top-left-radius: 1vw;
        overflow: scroll;
    }

    /*  ----------  */
    /* | CALENDAR | */
    /*  ----------  */
    #calendar {
        width: 77%;
        height: 94%;
        float: right;
        border-radius: 0;
        border-bottom-right-radius: 1vw;
        border-top-right-radius: 1vw;
    }
    #calendar-content .hour-marks {
        float: left;
        margin: 0;
        width: 4%;
        height: 92%;
        border-right: 1px solid #888;
        overflow: hidden;
        text-align: right;
    }
    #calendar-content .day {
        width: 13.57%;
        height: 92%;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #333;
    }
}